{% extends 'base.html' %}
{% load static %}

{% block body %}

<h1 class="h3">Course List</h1>
<div class="card">
    <div class="card-body d-flex justify-content-around">
        <div>
            Course Name
        </div>
        <div>
            Fee Type
        </div>
        <div>
            Students
        </div>
    </div>
</div>
{% for course in courses %}
<a href="{% url 'course-details' course.id %}">
<div class="card">
    <div class="card-body d-flex justify-content-around">
        <div>
            {{course.course_name}}
        </div>
        <div class="text-uppercase">
            {{course.fee_type}}
        </div>
        <div>
            {{course.student_count}}
        </div>
    </div>
</div>
</a>
{% endfor %}

{% endblock %}