{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Student List</h1>

</div>




    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive" width="1500px">
                <table class="table table-bordered" id="dataTable"  cellspacing="0">
                    <thead>
                        <tr>
                            <th>Student Id</th>
                            <th>Student Name</th>
                            <th>Course</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>
                            <th>Religion</th>
                            <th>Contact Number</th>
                            <th>Father's Name</th>
                            <th>Mother's Name</th>
                            <th>Home Number</th>
                            <th>Address</th>
                            
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Student Id</th>
                            <th>Student Name</th>
                            <th>Course</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>
                            <th>Religion</th>
                            <th>Contact Number</th>
                            <th>Father's Name</th>
                            <th>Mother's Name</th>
                            <th>Home Number</th>
                            <th>Address</th>
                            
                        </tr>
                    </tfoot>
                    <tbody>
                        
                        {% for student in students %}
                        
                        <tr>
                            <td>{{student.student_id}}</td>
                            <td>
                                <a href="{% url 'single-student' student.id %}">
                                    {{student.student_name}}
                                </a></td>
                            <td>{{student.course}}</td> 
                            <td>{{student.date_of_birth}}</td>
                            <td>{{student.gender}}</td>
                            <td>{{student.religion}}</td>
                            <td>{{student.contact_number}}</td>
                            <td>{{student.father_name}}</td>
                            <td>{{student.mother_name}}</td>
                            <td>{{student.home_number}}</td>
                            <td>{{student.address}}</td>
                               
                        </tr>
                    </a>
                        {% endfor %}
                       

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

{% endblock %}