{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Teacher List</h1>

</div>




    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive" width="1500px">
                <table class="table table-bordered" id="dataTable"  cellspacing="0">
                    <thead>
                        <tr>
                            <th>Teacher Name</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>
                            <th>Religion</th>
                            <th>Contact Number</th>
                            <th>Email</th>
                            <th>Qualifications</th>
                            <th>Address</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for teacher in teachers %}
                        <tr>
                            <td>{{teacher.teacher_name}}</td>
                            <td>{{teacher.date_of_birth}}</td>
                            <td>{{teacher.gender}}</td>
                            <td>{{teacher.religion}}</td>
                            <td>{{teacher.contact_number}}</td>
                            <td>{{teacher.email}}</td>
                            <td>{{teacher.qualifications}}</td>
                            <td>{{teacher.address}}</td>
                            <td>{{teacher.status}}</td>    
                        </tr>

                        {% endfor %}
                       

                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}